/*
 * SPDX-License-Identifier: MIT
 *
 * Aurora Lily58 — QWERTZ Deutsch
 * Basis: thinkahead123/lily58-zmk-config
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6  &kp N7 &kp N8 &kp N9 &kp N0 &kp DE_ESZETT &kp DE_ACUTE
&kp Q  &kp W  &kp E  &kp R  &kp T  &kp Z   &kp U  &kp I  &kp O  &kp P  &kp DE_U_UMLAUT &kp DE_PLUS
&kp A  &kp S  &kp D  &kp F  &kp G  &kp H   &kp J  &kp K  &kp L  &kp DE_O_UMLAUT &kp DE_A_UMLAUT &kp DE_HASH
&kp Y  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp DE_COMMA &kp DE_DOT &kp MINUS &kp RETURN &kp TAB &kp BACKSPACE &kp DELETE
       &kp LCTRL &kp SPACE &kp LALT &kp TAB  &kp RETURN &kp LALT &kp SPACE &kp RETURN
            >;
        };
    };
};
